# ==============================================================================
# REQUIRED CONFIGURATION
# ==============================================================================
TS_HOSTNAME=
TS_LOGIN_SERVER=

# ==============================================================================
# OPTIONAL CONFIGURATION
# ==============================================================================
# TS_CONTAINER_NAME=
# TS_ROUTES=
# TS_ACCEPT_ROUTES=
# TS_ACCEPT_DNS=
# TS_USERSPACE=
# TS_DEBUG_FIREWALL_MODE=
# TS_EXTRA_ARGS=
# TS_DEST_IP=
# TZ=

# System / Volume paths
# USER=
# TS_DATA_DIR=/home/user/.trasba/docker/tailscale/data