# ==============================================================================
# REQUIRED CONFIGURATION
# ==============================================================================
# No variables are strictly required for the service to start:
JELLYFIN_MEDIA_DIR=/home/user/.trasba/docker/jellyfin/media

# ==============================================================================
# OPTIONAL CONFIGURATION
# ==============================================================================
# JELLYFIN_CONTAINER_NAME=jellyfin
# PUID=1000
# PGID=1000
# TZ=Europe/Berlin
# JELLYFIN_PUBLISHED_SERVER_URL=http://192.168.0.5

# System / Volume paths
# USER=
# JELLYFIN_CONFIG_DIR=/home/user/.trasba/docker/jellyfin/config
# CADDY_NETWORK=caddy
