services:
  uptime-kuma:
    image: louislam/uptime-kuma:2-slim
    container_name: uptime-kuma
    restart: always
    volumes:
      - /home/${USER:-trasba}/.trasba/docker/uptime-kuma/data:/app/data
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    networks:
      - caddy

networks:
    caddy:
      name: caddy
      external: true